<h1> TELL US ABOUT YOUR PUP</h1>

<form method="POST" action="/">
  <p>Name: <input type="text" name="name"></p>
  <p>Age: <input type="text" name="age"></p>
  <p>Breed: <input type="text" name="breed"></p>
  <input type="submit" value="submit">
</form>
